<section class="about">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="about-text">
          <h1 class="text-center">About</h1>
          <p class="description">This static site generator was built using Angular 2. The main purpose of it is to rapidly prototype Bootstrap websites with primary color schemes. It is NOT a replacement for web designers or developers as this generator will only give you a static website. If you need further customization, you will still need to make the changes yourself.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="screenshots">
          <img src="http://placehold.it/1000x200" alt="" class="img-responsive">
          <img src="http://placehold.it/1000x200" alt="" class="img-responsive">
          <img src="http://placehold.it/1000x200" alt="" class="img-responsive">
          <img src="http://placehold.it/1000x200" alt="" class="img-responsive">
        </div>
      </div>
    </div>
  </div>
</section>
