div.generated-card {
  border: 1px solid #000;
  box-shadow: inset 1px 1px 1px #cdcdcd;
  width: 100%;
  padding: 10px;
}

div.generated-card > textarea.prv {
  background-color: #f9f9f9;
  border: none;
}

div.generator-functions {
  border: 1px solid #000;
  box-shadow: 0 0 1px #cdcdcd;
  width: 100%;
}

div.header-options > button {
  width: 100%;
}

button.btn-black {
  background-color: #333;
  color: #fff;
}

button.btn-purple {
  background-color: #800080;
  color: #fff;
}

div.container-options > button {
  float: left;
  width: 50%;
  height: 100px;
}

div.footer-options > button {
  width: 100%;
}
