<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <div class="generator-functions">
        <h3 class="text-center">Select components for your website below</h3>
        <h5 class="text-center">Once you're done, copy your markup from the textarea. That's it!</h5>
        <hr>
        <div class="header-options">
          <h3 class="text-center">Navbar Options</h3>
          <button (click)="defaultNav()" class="btn btn-default">Default Navbar</button>
          <button (click)="inverseNav()"  class="btn btn-default btn-black">Black Navbar</button>
          <button (click)="blueNav()"  class="btn btn-primary">Blue Navbar</button>
          <button (click)="greenNav()"  class="btn btn-success">Green Navbar</button>
          <button (click)="orangeNav()"  class="btn btn-warning">Yellow Navbar</button>
          <button (click)="redNav()"  class="btn btn-danger">Red Navbar</button>
          <button (click)="purpleNav()"  class="btn btn-default btn-purple">Purple Navbar</button>
        </div>
        <hr>
      </div>
    </div>
    <div class="col-md-4">
      <div class="generated-card">
        <h2 class="text-center">Copy this!</h2>
        <div class="prv"><pre>{{codeVal}}</pre></div>
      </div>
    </div>
  </div>
</div>
