<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <div class="generator-functions">
        <h3 class="text-center">Select components for your website below</h3>
        <h5 class="text-center">Once you're done, hit the download button to get your static site</h5>
        <hr>
        <div class="header-options">
          <h3 class="text-center">Navbar Options</h3>
          <button class="btn btn-default">Default Navbar</button>
          <button class="btn btn-default btn-black">Black Navbar</button>
          <button class="btn btn-primary">Blue Navbar</button>
          <button class="btn btn-success">Green Navbar</button>
          <button class="btn btn-warning">Yellow Navbar</button>
          <button class="btn btn-danger">Red Navbar</button>
          <button class="btn btn-default btn-purple">Purple Navbar</button>
        </div>
        <hr>
        <div class="container-options">
          <h3 class="text-center">Container Options</h3>
          <button class="btn btn-default">Container</button>
          <button class="btn btn-default">Container Fluid</button>
        </div>
        <hr>
        <div class="footer-options">
          <h3 class="text-center">Footer Options</h3>
          <button class="btn btn-default">Default Footer</button>
          <button class="btn btn-default btn-black">Black Footer</button>
          <button class="btn btn-primary">Blue Footer</button>
          <button class="btn btn-success">Green Footer</button>
          <button class="btn btn-warning">Yellow Footer</button>
          <button class="btn btn-danger">Red Footer</button>
          <button class="btn btn-default btn-purple">Purple Footer</button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="generated-card">
        <h2 class="text-center">Code preview</h2>
        <textarea class="form-control prv" name="code-preview" disabled></textarea>
      </div>
    </div>
  </div>
</div>
